body {
  background-image: url("/static/background.jpg");
}

html {
  font-family: "Lucida Console", Lucida, Monospace;
  color: rgb(200, 200, 200);
}

select {
  font-family: "Lucida Console", Lucida, Monospace;
  color: rgb(200, 200, 200);
  background: rgb(152, 212, 202);
  border-radius: 15px;
}

button {
  font-family: "Lucida Console", Lucida, Monospace;
  color: rgb(200, 200, 200);
  background: rgb(152, 212, 202);
  border-radius: 15px;
}
