<head>
  <link rel="stylesheet" href="/static/example.css">
  <script src="/static/example.js"></script>
</head>

<body>
  <h1 class="my-class" id="hello">
    USA Chronic Disease Indicator
  </h1>

  <p>
    <label for="Strat_1">Select Stratification:</label> 


    <select name="Year" id="Year">
        {{DropdownOptions|safe}}
    </select>


    <select name="Age" id="Age"> 
        {{DropdownOptions|safe}}
    </select>


    <select name="Sex" id="Sex"> 
        {{DropdownOptions|safe}} 
    </select>


    <select name="Race/Ethnicity" id="Race/Ethnicity"> 
        {{DropdownOptions|safe}}
    </select>


    <select name="Grade" id="Grade"> 
        {{DropdownOptions|safe}} 
    </select>


    <select name="Location" id="Location"> 
        {{DropdownOptions|safe}}
    </select>


    <select name="Topic" id="Topic">
        {{DropdownOptions|safe}}
    </select>
  </p>



  <div class="center-container">
    <button class="big-button" onclick="addDropdownItem()">
      Enter
    </button>
  </div>
</body>
