<!-- 
This HTML file is for a web application called "USA Chronic Disease Indicator". The purpose of this 
application is to allow users to select various stratifications such as year, age, sex, race/ethnicity, grade, 
location, and topic to filter chronic disease indicators data. The filtered results are displayed in a table format. 

The webpage includes a form with dropdowns for each stratification category, a submit button to send the selected filters,
and sections providing frequently asked questions and instructions on how to use the site.

Author: Hanane Akeel 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USA Chronic Disease Indicator</title>
    <link rel="stylesheet" href="/static/example.css">
    <script src="/static/example.js"></script>
</head>
<body>
    <h1 class="my-class" id="hello">USA Chronic Disease Indicator</h1>
    <form action="/results" method="post">
        <p>
            <label for="Year">Select Year:</label>
            <select name="year" id="Year">{{ YearOptions|safe }}</select>
        </p>
        <p>
            <label for="Age">Select Age:</label>
            <select name="age" id="Age">{{ AgeOptions|safe }}</select>
        </p>
        <p>
            <label for="Sex">Select Sex:</label>
            <select name="sex" id="Sex">{{ SexOptions|safe }}</select>
        </p>
        <p>
            <label for="Race">Select Race/Ethnicity:</label>
            <select name="race" id="Race">{{ RaceEthnicityOptions|safe }}</select>
        </p>
        <p>
            <label for="Grade">Select Grade:</label>
            <select name="grade" id="Grade">{{ GradeOptions|safe }}</select>
        </p>
        <p>
            <label for="Location">Select Location:</label>
            <select name="location" id="Location">{{ LocationOptions|safe }}</select>
        </p>
        <p>
            <label for="Topic">Select Topic:</label>
            <select name="topic" id="Topic">{{ TopicOptions|safe }}</select>
        </p>
        <p>
            <button type="submit">Enter</button>
        </p>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
 <p>
 _____________________________________________________________________________________
 </p>
 
      <h1>
   Frequently Asked Questions:
    </h1>


     <h2>
    Instructions:
    </h2>

    
     <ul>
  <li>Select the stratifications you would like in your search.</li>
  <li>Hit the enter button.</li>
  <li>And like that, you will get your results as a table for your own use.</li>
</ul> 


    <br>
<h2>
    What is this Websites purpose?
    </h2>


     <ul>
  <li>The website is meant to make getting the information you need about chronic disease indicators easy.</li> 
  <li>This data can then be used by those interested in different types of chronic diseases in the United States within the past few years. </li>
</ul> 

    <br>
    
<h2>
    Where is this data from?
    </h2>


     <ul>
  <li>Our data is from the DATA.gov website. </li>
  <li>Here is a link to the data:
        <ul>
        <li>https://catalog.data.gov/dataset/u-s-chronic-disease-indicators</li>
    </ul>
</ul> 

</body>
</html>
